/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.center {
  display: grid;
  place-items: center;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background-dark: rgb(24, 23, 32);
  --secondary-backround: #272a31;
  --blue: #007bff;
  --white: #f5f5f6;
  --border-radius-5: 5px;
}

body {
  background-color: var(--app-background-dark);
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.posts-container {
  width: 600px;
  flex-direction: column;
}

h1, h2, p, li {
  color: var(--white);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Header                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  background-color: var(--secondary-backround);
  height: 60px;
}

h1 {
  font-size: 2.4rem;
}

nav ul li {
  font-weight: 600;
}

.header-side, header nav {
  line-height: 60px;
}

.header-side {
  width: 125px;
}

.header-side i {
  color: var(--white);
  font-size: 2rem;
  transition: color 0.15s ease-in-out;
  cursor: pointer;
}

.header-side i:hover {
  color: rgb(255 255 255 / 0.8);
}

.class-name {
  color: var(--white);
}

.open-modal-wrapper {
  justify-content: end;
  display: flex;
  align-items: center;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Modal                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
dialog {
  padding: 2.5rem 1.5rem;
  background-color: var(--white);
  border: none;
  border-radius: var(--border-radius-5);
  width: 30rem;
  outline: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

dialog::backdrop {
  background-color: rgb(0 0 0 /0.25);
}

dialog h2, dialog p {
  color: var(--app-background-dark);
}

dialog h2 {
  font-size: 2rem;
  color: var(--blue);
}

.modal-header {
  align-items: center;
  margin-bottom: 1rem;
}

.close-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
  background-color: inherit;
  width: 3rem;
  height: 3rem;
  transition: background-color 0.15s ease-in-out;
}

.close-modal:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.close-modal span {
  color: var(--app-background-dark);
  font-weight: 700;
  font-size: 2rem;
  line-height: 3rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Create Post                                           */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.create-post {
  margin-top: 4rem;
}

form {
  background-color: var(--secondary-backround);
  width: 600px;
  border-radius: var(--border-radius-5);
}

.form-container {
  padding: 15px;
  flex-direction: column;
}

.form-container textarea {
  resize: none;
  height: 140px;
  width: 100%;
  background-color: transparent;
  color: var(--white);
}

.file-input {
  display: none;
}

.file-name {
  font-size: 1.2rem;
}

.form-row-2 {
  height: 3.5rem;
}

.personalized-upload-field {
  color: var(--white);
  align-items: center;
}

.personalized-upload-field i {
  font-size: 3.5rem;
  cursor: pointer;
}

.post-button {
  color: var(--white);
  background-color: var(--blue);
  border-radius: var(--border-radius-5);
  padding: 0 1.5rem;
  height: 100%;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* Created Post                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.created-posts {
  flex-direction: column;
}

.created-post-container {
  width: 100%;
  border-radius: var(--border-radius-5);
  padding: 15px;
  flex-direction: column;
  background-color: var(--secondary-backround);
}

.post-author {
  align-items: center;
}

.new-post-header i, .new-post-header p {
  color: var(--white);
}

.created-post-container p {
  width: 100%;
}

.created-post-container img {
  width: 100%;
  border-radius: var(--border-radius-5);
}




